numpy~=1.20.1
scikit-image~=0.19.2
scipy~=1.6.0
pandas~=1.2.3
yaml~=0.2.5
pyyaml~=5.4.1
seaborn~=0.11.1
scikit-learn~=1.1.1
tifffile~=2021.2.26
nmco~=0.1
tqdm~=4.58.0
joblib~=1.0.1
torch~=1.11.0
pillow~=9.2.0
torchvision~=0.12.0
imageio~=2.9.0
statsmodels~=0.12.2
imblearn~=0.0
statannotations~=0.4.4